PORT=5013
SOURCE=missav

# Đường dẫn Database
TERMUX_DB=/sdcard/Database/termux-services/missav.db
WINDOWS_DB=D:/Dat/Database/termux-services/missav.db

# Database tổng nextdjav để map GDrive
TERMUX_NEXTDJAV_DB=/sdcard/Database/termux-services/nextdjav.db
WINDOWS_NEXTDJAV_DB=D:/Dat/Database/termux-services/nextdjav.db
