PORT=5013
SOURCE=missav

# Đường dẫn Database
TERMUX_DB=/sdcard/Database/missav/missav.db
WINDOWS_DB=D:/Dat/Database/missav/missav.db

# Database tổng nextdjav để map GDrive
TERMUX_NEXTDJAV_DB=/sdcard/Database/nextdjav/nextdjav.db
WINDOWS_NEXTDJAV_DB=D:/Dat/Database/nextdjav/nextdjav.db
